<div>
<%- partial('../pages/header.ejs') %>
</div>
<div class="container">
<h1 class="display-4">Welcome to Restaurent</h1>
<p class="mb-4">This is a sails.js app for managing Restaurent</p>
<a href="/meals/list" class="btn btn-light">View All Foods</a>
<a href="/meals/add" class="btn btn-light">Add Meals</a>
<a href="/order/orderlist" class="btn btn-light">view orders</a>
</div>