<html>

<head>
    <script>
      function check(){
          var u = document.getElementById("user").value;
          var p = document.getElementById("pass").value;
          if(u=="admin" && p=="123"){
            window.open ( "/homepage")
          }else{
             
              alert("login failed")
          }
      }
    </script>
</head>

<body>
    
        <form class="container">
                <div>
                    <label>Admin</label>
                </div>
                <div class="form-group">
                 <label for="exampleInputEmail">username</label>
                 <input type="text" class="form-control" name="email" id="user" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <input type="password" class="form-control" name="Password" id="pass" required>
                   </div><br>
                   <button type="submit" class="btn btn-primary" onclick="check()">Login</button>
            </form>
</body>

</html>